/* shared styles here  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
.primary-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

/* header styles here  */
header{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
}
.header-icon{
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-icon img{
    width: 86px;
    height: 40px;
    margin-right: 20px;
}
.header-icon-title{
    font-size: 45px;
    font-weight: 700px;
}
.gammer-first-letter{
    color: #FF42A5;
}
nav{
    width: 50%;
}
nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500px;
    color: #3c354f;
}
nav ul .follow-us-on{
    width: 260px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li .youtube{
    color: red;
    margin-left: 24px;
    margin-right: 16px;
}
/* banner styles here  */
.banner-container{
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.banner-content-container, .banner-img{
    width: 50%;
}
.banner-content-container{
    height: 680px;
    background-color: #be4ef70d;
}
.banner-content{
    margin-left: 240px;
}
.banner-content-title-1{
    font-size: 45px;
    font-weight: 600px;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 140px;
}
.banner-content-title-2{
    font-size: 95px;
    font-weight: 800px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin-top: 0px;
    margin-bottom: 0px;
}
.banner-content-description{
    font-size: 20px;
    font-weight: 500px;
}
.button{
    margin-top: 30px;
}
.sign-btn{
    font-size: 20px;
    font-weight: 600px;
    padding: 15px 40px;
    border: 0px;
    border-radius: 35px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: white;
    margin-right: 24px;
}
.go-btn{
    font-size: 20px;
    font-weight: 600px;
    padding: 15px 40px;
    border: 0px;
    border-radius: 35px;
    background: #4EC5F7;
    color: white;
}
/* online games styles here  */
.online-games-container{
    max-width: 1440px;
    margin: 0 auto;
}
.online-games-content{
    text-align: center;
}
.online-games-title{
    font-size: 45px;
    font-weight: 700px;
    color: #0b0223;
}
.online-g-content-desc{
    font-size: 18px;
    color: #534c64;
}
.online-games-cards{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: 340px;
    height: 480px;
    position: relative;
}
.card img{
    border-radius: 16px;
}
.card-description{
    font-size: 20px;
    font-weight: 500px;
    line-height: 30px;
}
.watch-content{
    position: absolute;
    top: 170px;
    right: 115px;  
}
.play{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    margin-bottom: 16px;
}
.watch-now{
    color: #FF42A5;
    font-size: 20px;
    font-weight: 600px;
}
/* play instantly styles here  */
.play-instantly-container{
    max-width: 1440px;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-instantly-content{
    width: 50%;
    text-align: right;
}
.play-instantly-content-title{
    margin: 0 auto;
    width: 340px;
    font-size: 45px;
    font-weight: 700px;
    line-height: 60px;
}
.play-instantly-content-desc{
    width: 350px;
    margin: 0 auto;
}
.play-instantly-img{
    position: relative;
}
.play-ins-small-img{
    width: 320px;
    height: 365px;
    border-radius: 8px;
    position: absolute;
    top: 380px;
    left: -145px;
}





/* Responsive styles hera  */

/* small mobile responsive here  */
@media screen and (max-width:576px) {
    header{
        flex-direction: column;
    }
    nav > ul{
        flex-direction: column;
        gap: 36px;
    }
    .header-icon nav{
        width: 100%;
    }
    .banner-container{
        width: 100%;
        flex-direction: column-reverse;
    }
    .banner-content-container, .banner-img{
        width: 100%;
    }
    .banner-content-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-content{
        margin: 0px;
    }
    .online-games-cards{
        flex-direction: column;
        gap: 20px;
    }
    .card{
        text-align: center;
    }
}
/* medium mobile or tablet responsive here  */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        flex-direction: column;
    }
    nav > ul{
        flex-direction: column;
        gap: 40px;
    }
    .banner-container{
        width: 100%;
        flex-direction: column-reverse;
    }
    .banner-content-container, .banner-img{
        width: 100%;
    }
    .banner-content-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-content{
        margin: 0px;
    }
    .online-games-cards{
        flex-direction: column;
        gap: 30px;
    }
    .card{
        text-align: center;
    }
}