/* shared styles here  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.primary-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

/* header styles starts here  */
header{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 30px;
}
.header-icon{
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-icon img{
    width: 86px;
    height: 40px;
    margin-right: 20px;
}
.header-icon-title{
    font-size: 45px;
    font-weight: 700px;
}
.gammer-first-letter{
    color: #FF42A5;
}
nav{
    width: 50%;
}
nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500px;
    color: #3c354f;
}
nav ul .follow-us-on{
    width: 260px;
    height: 56px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li .youtube{
    color: red;
    margin-left: 24px;
    margin-right: 16px;
}
/* banner styles starts here  */
.banner-container{
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.banner-content-container, .banner-img{
    width: 50%;
}
.banner-content-container{
    height: 680px;
    background-color: #be4ef70d;
}
.banner-content{
    margin-left: 265px;
}
.banner-img{
    margin-right: 30px;
}
.banner-content-title-1{
    font-size: 45px;
    font-weight: 600px;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 140px;
}
.banner-content-title-2{
    font-size: 95px;
    font-weight: 800px;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin-top: 0px;
    margin-bottom: 0px;
}
.banner-content-description{
    font-size: 20px;
    font-weight: 500px;
}
.button{
    margin-top: 30px;
}
.sign-btn{
    font-size: 20px;
    font-weight: 600px;
    padding: 15px 40px;
    border: 0px;
    border-radius: 35px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: white;
    margin-right: 24px;
}
.go-btn{
    font-size: 20px;
    font-weight: 600px;
    padding: 15px 40px;
    border: 0px;
    border-radius: 35px;
    background: #4EC5F7;
    color: white;
}
/* gamer section (optional) styles starts here  */
.gamer-container{
    width: 100%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-img{
    width: 60%;
    margin-left: 200px;
}
.gamer-content{
    width: 40%;
}
.gamer-content{
    text-align: right;
    margin-right: 250px;
}
.gamer-content-title{
    font-size: 45px;
    font-weight: 700;
}
.gamer-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #534c64;
    margin-top: 20px;
    margin-bottom: 30px;
}
.know-more-btn{
    padding: 20px 45px;
    border: 0;
    border-radius: 45px;
    background-color: #FF42A5;
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
}
.gamer-content-another-title{
    font-size: 32px;
    font-weight: 500;
    color: #534c64;
    line-height: 60px;
}
/* online games styles starts here  */
.online-games-container{
    max-width: 1380px;
    margin: 50px auto;
}
.online-games-content{
    text-align: center;
}
.online-games-title{
    font-size: 45px;
    font-weight: 700px;
    color: #0b0223;
}
.online-g-content-desc{
    font-size: 18px;
    color: #534c64;
}
.online-games-cards{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.card{
    width: 340px;
    height: 480px;
    position: relative;
}
.card img{
    border-radius: 16px;
}
.card-description{
    font-size: 20px;
    font-weight: 500px;
    line-height: 30px;
}
.watch-content{
    position: absolute;
    top: 170px;
    right: 115px;  
    display: none;
}
.play{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    margin-bottom: 16px;
}
.watch-now{
    color: #FF42A5;
    font-size: 20px;
    font-weight: 600px;
}
.card-3:hover .watch-content{
    display: inline;
}
.card-3:hover {
    cursor: pointer;
}
/* play instantly styles starts here  */
.play-instantly-container{
    max-width: 1440px;
    margin: 120px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.play-instantly-content{
    width: 50%;
    text-align: right;
}
.play-instantly-content-title{
    margin: 0 auto;
    width: 340px;
    font-size: 45px;
    font-weight: 700px;
    line-height: 60px;
}
.play-instantly-content-desc{
    width: 350px;
    margin: 0 auto;
    line-height: 26px;
}
.play-instantly-img{
    position: relative;
}
.play-ins-small-img{
    width: 320px;
    height: 365px;
    border-radius: 8px;
    position: absolute;
    top: 380px;
    left: -145px;
}
.play-games-container{
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 100px;
    margin-top: 150px;
}
.play-games-img{
    width: 60%;
    position: relative;
}
.play-games-another-img{
    position: absolute;
    top: 400px;
    right: -30px;
}
.play-games-content{
    width: 40%;
}
.play-games-content-title{
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
}
.play-games-content-description{
    font-size: 18px;
    line-height: 30px;
    color: #534c64;
}
/* button section styles starts here  */
.button-container{
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap ;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    gap: 30px;
    margin: 100px 0px;
    padding: 70px 200px;
}
.btn{
    width: 18%;
    max-height: 80px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    border: 0px;
    gap: 16px;
    background-color: white;
}
.btn-title{
    font-size: 16px;
    font-weight: 600px;
    color: #0b0223;
}
.btn:hover{
    border: 1px solid rgb(252, 11, 123);
}
.btn:hover .btn-title{
    color: rgb(252, 11, 123);
}
/* footer styles starts here  */
footer{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0B0223;
    color: white;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}
.footer-logo img{
    width: 86px;
    height: 40px;
}
.gammer{
    color: #FF42A5;
}
.footer-descriptions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-icons{
    font-size: 35px;
    margin-top: 40px;
}
.icon{
    margin-right: 40px;
}
.footer-keywords{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 60px;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.60);
}
.last-sentence{
    color: rgba(255, 255, 255, 0.60);
}





/* Responsive styles hera  */

/* small mobile responsive here  */
@media screen and (max-width:576px) {
    header{
        flex-direction: column;
    }
    nav > ul{
        flex-direction: column;
        gap: 36px;
    }
    .header-icon{
        margin-bottom: 20px;
    }
    .header-icon nav{
        width: 100%;
    }
    .banner-container{
        width: 100%;
        flex-direction: column-reverse;
    }
    .banner-content-container, .banner-img{
        width: 100%;
    }
    .banner-content-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-content{
        margin: 0px;
    }
    .gamer-container{
        width: 100%;
        flex-direction: column;
    }
    .gamer-img{
        width: 100%;
        margin-left: 0px;
    }
    .gamer-img img{
        width: 100%;
    }
    .gamer-content{
        width: 100%;
        margin-right: 10px;
        margin-left: 10px;
        text-align: center;
    }
    .online-games-cards{
        flex-direction: column;
        gap: 20px;
    }
    .online-g-content-desc{
        width: 90%;
        margin-left: 10px;
    }
    .card{
        text-align: center;
    }
    .play-instantly-container{
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .play-instantly-content, .play-instantly-img{
        width: 100%;
    }
    .play-instantly-content{
        text-align: center;
    }
    .play-instantly-content-desc{
        margin-top: 15px;
    }
    .play-instantly-img{
        position: relative;
        margin-top: 30px;
    }
    .play-instantly-img img{
        width: 70%;
        margin-left: 100px;
    }
    .play-ins-small-img{
        width: 60%;
        height: 200px;
        position: absolute;
        top: 200px;
        left: -60px;
    }
    .play-ins-small-img img{
        width: 50%;
    }
    .play-games-container{
        width: 100%;
        flex-direction: column-reverse;
    }
    .play-games-content{
        width: 100%;
        text-align: center;
    }
    .play-games-img{
        width: 100%;
        position: relative;
        margin-left: 20px;
    }
    .play-games-img img{
        width: 70%;
    }
    .play-games-another-img{
        width: 30%;
        position: absolute;
        top: 200px;
        right: 50px;
    }
    /* button styles starts here  */
    .button-container{
        width: 100%;
        height: 30vh;
        margin: 30px 0px 0px 0px;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 5px;
        margin-bottom: 30px;

    }
    .btn{
        width: 100%;
        max-height: 80px;
        margin: 0px;
        padding: 3px;
        border: 1px solid gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2px;
    }
    .btn-title{
        margin: 0px;
        font-size: 10px;
    }
    .btn img{
        width: 40px;
        height: 40px;
    }
    .btn:hover{
        border: 1px solid rgb(252, 11, 123);
    }
    .btn:hover .btn-title{
        color: rgb(252, 11, 123);
    }
    footer{
        width: 100%;
        height: auto;
        padding: 20px;
    }
    .footer-descriptions{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .footer-icons{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    }
    .footer-keywords{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 5px;
        font-size: 14px;
        row-gap: 0px;
    }
    .footer-last-sentence{
        width: 300px;
        padding: 20px;
    }
}
/* medium mobile or tablet responsive here  */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        flex-direction: column;
    }
    .header-icon{
        margin-bottom: 30px;
    }
    nav > ul{
        flex-direction: column;
        gap: 40px;
    }
    .banner-container{
        width: 100%;
        flex-direction: column-reverse;
        margin-bottom: 0px;
    }
    .banner-content-container, .banner-img{
        width: 100%;
    }
    .banner-content-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner-content-title-1{
        margin-top: 0px;
    }
    .banner-img img{
        width: 100%;
    }
    .banner-content{
        margin: 0px;
    }
    .gamer-container{
        width: 100%;
        flex-direction: column;
        margin-top: 0px;
    }
    .gamer-img{
        width: 100%;
        margin-left: 0px;
    }
    .gamer-img img{
        width: 100%;
    }
    .gamer-content{
        width: 100%;
        margin-right: 10px;
        margin-left: 10px;
        text-align: center;
    }
    .online-games-cards{
        flex-direction: column;
        gap: 30px;
    }
    .card{
        text-align: center;
    }
    .play-instantly-container{
        flex-direction: column;
        margin-top: 50px;
    }
    .play-instantly-content, .play-instantly-img{
        width: 100%;
    }
    .play-instantly-content{
        text-align: center;
    }
    .play-instantly-content-desc{
        margin-top: 20px;
        width: 60%;
    }
    .play-instantly-img{
        position: relative;
        margin-top: 30px;
    }
    .play-instantly-img img{
        width: 70%;
        margin-left: 100px;
    }
    .play-ins-small-img{
        width: 80%;
        position: absolute;
        top: 300px;
        left: -80px;
    }
    .play-ins-small-img img{
        width: 50%;
    }
    .play-games-container{
        width: 100%;
        flex-direction: column-reverse;
    }
    .play-games-content{
        width: 100%;
        text-align: center;
    }
    .play-games-img{
        width: 100%;
        position: relative;
        margin-left: 20px;
    }
    .play-games-img img{
        width: 70%;
    }
    .play-games-another-img{
        width: 30%;
        position: absolute;
        top: 360px;
        right: 70px;
    }
    .button-container{
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-wrap: wrap ;
        gap: 10px;
        margin: 50px 0px;
        padding: 50px 0px;
    }
    .btn{
        width: 25%;
        height: 60px;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 50px;
        border: 0px;
        gap: 5px;
        background-color: white;
    }
    .btn img{
        width: 50px;
        height: 50px;
    }
    .btn-title{
        font-size: 13px;
        font-weight: 400px;
    }
    .btn:hover{
        border: 1px solid rgb(252, 11, 123);
    }
    .btn:hover .btn-title{
        color: rgb(252, 11, 123);
    }

}